*~
*.class
*swp*
*.pyc
*.sw*
tags
buildjar/
gpgkeys/rhsupport.*
dist-build/*
cover/
.coverage
*.mo
sos.conf.5.gz
sosreport.1.gz
venv
MANIFEST
build/
dist/
docs/_build

# Pycharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
