language: python
python:
  - 2.7
  - 3.3
matrix:
  allow_failures:
    - python: 3.3
notifications:
  email: false
  irc:
    channels:
      - "us.freenode.net#sosreport"
    on_success: change
install:
  - "pip install nose nose-cov --use-mirrors"
  - "python setup.py install"
script:
  - "nosetests -v --with-cover --cover-package=sos --cover-html"
