#!/usr/bin/make -f

export PYBUILD_NAME=doca-sosreport
export PYBUILD_DESTDIR=debian/$(PYBUILD_NAME)

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	# Move config file to the right location.
	mkdir -p debian/sos/etc/sos
	mv debian/doca-sosreport/usr/config/sos.conf debian/doca-sosreport/etc/sos/sos.conf
	mv debian/doca-sosreport/usr/config/sos-nvidia.conf debian/doca-sosreport/etc/sos/sos-nvidia.conf
	mv debian/doca-sosreport/usr/config/sos-mlx-cloud-verification.conf debian/doca-sosreport/etc/sos/sos-mlx-cloud-verification.conf
	mv debian/doca-sosreport/usr/config/sos-nvidia.conf debian/doca-sosreport/etc/sos/sos-nvidia.conf
	# Remove unnecessary unused dir.
	rm -rf debian/doca-sosreport/usr/config

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 -m unittest -v $(shell find tests/unittests -name "*_tests.py" -not -path "*policy_tests.py")
endif
