recursive-include po *.mo
recursive-include extras *
recursive-include tests *
include sosreport*
include README*
include LICENSE
include TODO
include ChangeLog
include gpgkeys/*.pub
include sos.conf
