# NOTE: Including sosreport here is a hack. This
# is done because the data_files handling from setup.py
# is broken for building dists (at least in Python 2.3)
include README LICENSE TODO ChangeLog sosreport sosreport.1 MANIFEST.in
